<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="@Url.Content("~/Content/css.css")" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body>
    <div class="header-top snipcss-5WY7W">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li class="phone-text">
                            <a href="tel:93859 76674">
                                93859 76674
                            </a>
                        </li>
                        <li class="email-text">
                            <a href="mailto:principal@nec.edu.in">
                                principal@nec.edu.in
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 right">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="menu-primary clearfix hide-menu-responsive">
                            <li id="menu-item-1829" class="home">
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                            <li id="menu-item-940" class="admin">
                                @Html.ActionLink("Admin", "AdminLogin", "Home")
                            </li>
                            <li id="menu-item-7411" class="student">
                                @Html.ActionLink("Student", "StudentLogin", "Home")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
